<!DOCTYPE html>
<html>
<head>
    <title>Repo to Text</title>
</head>
<body>
    <h1>Convert Files to Text</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="repo_files">Select Files:</label>
        <input type="file" name="repo_files" multiple><br><br>
        <label for="output_filename">Output Filename:</label>
        <input type="text" name="output_filename" value="combined_output"><br><br>
        <button type="submit">Generate Text File</button>
    </form>
</body>
</html>
